/* style.css */

.film-listesi {
  list-style: none;
  padding: 0;
  display: flex;
}

.film-listesi li {
  margin-right: 10px;
}

.film-listesi img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 5px;
}

.film-listesi span {
  display: block;
  text-align: center;
}
/* Butonların stilini güncelle */
button {
  border: none;
  outline: none;
  background-color: transparent;
  color: red;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

/* Aktif butonun stilini güncelle */
button.active {
  color: blue;
}
.aktif {
  color: blue; /* Aktif butonun yazı rengini mavi yap */
}
