/* style.css */

.film-listesi {
  list-style: none;
  padding: 0;
  display: flex;
}

.film-listesi li {
  margin-right: 10px;
}

.film-listesi img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 5px;
}

.film-listesi span {
  display: block;
  text-align: center;
}
/* Butonların stilini güncelle */
button {
  border: none;
  outline: none;
  background-color: transparent;
  color: red;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

/* Aktif butonun stilini güncelle */
button.active {
  color: blue;
}
.aktif {
  color: blue; /* Aktif butonun yazı rengini mavi yap */
}
/* Header stilini güncelle */
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Butonları sağa yasla */
  align-items: center; /* Öğeleri dikeyde ortala */
}

.header h1 {
  margin: 0;
}

.header nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.header nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

/* Giriş ve Kaydol butonlarının stilini güncelle */
.login-button,
.signup-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.login-button:hover,
.signup-button:hover {
  background-color: #45a049;
}

/* Navigasyon çubuğu stilini güncelle */
.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #111;
}

.navbar a.active {
  background-color: #4CAF50;
}



body {
    min-height: calc(100vh - 40px); /* Ekran yüksekliğinin 40 piksel eksik olacak şekilde ayarla */
    margin: 0;
    padding: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}
main {
    max-height: calc(100vh - 120px);
    overflow: auto; /* Enable both vertical and horizontal scrolling if needed */
}

