* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.filtreler {
  margin-bottom: 20px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button.aktif {
  background-color: #0056b3;
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

li img {
  margin-right: 20px;
  width: 100px;
  height: auto;
}

li span {
  font-size: 24px;
}
