/* Add custom CSS here */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container {
  padding: 0;
}

.header-left h1 {
  margin: 0;
}

.butonlar {
  display: flex;
  justify-content: left;
  margin: 20px 0;
}

#filmListesi {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.movie-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.movie-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movie-card span {
  text-align: center;
  font-weight: bold;
}

#film-listesi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#film-listesi li {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  max-width: 200px;
}

#film-listesi li img {
  width: 100%;
}

#film-listesi li .film-ad {
  margin-top: 10px;
  font-weight: bold;
}

#film-listesi li span {
  text-align: center;
}

.film-karti {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.film-karti img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

li.film-karti {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  text-align: center;
}

.film-ad {
  display: block;
  margin-top: 10px;
}

.login-button,
.signup-button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login-button:hover,
.signup-button:hover {
  background-color: #0069d9;
}

.carousel {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

footer {
  background-color: #eee;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.social-icons {
  position: relative;
  z-index: 1;
}

.movie-list-wrapper {
  position: relative;
  overflow-x: hidden;
}

.movie-list-container {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease-in-out;
}

.movie-item {
  margin-right: 20px;
}

.movie-item img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.movie-item h3 {
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
}

.movie-list-navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 0 20px;
}

.prev-button,
.next-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #000;
}

.prev-button:hover,
.next-button:hover {
  color: #666;
}
